APP_NAME=Mosamatic3
SECRET_KEY=sadf-98432lkjaljgfdg08065428365430slgkjsdlgfjgsf06504363-2211
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=sqlite:///./data/app.db
UPLOAD_ROOT=./data/uploads
UI_ORIGIN=http://localhost:5173