{% extends 'base.html' %}
{% block content %}
<section class="card narrow">
  <h2>Change password</h2>

  <form method="post" class="stack">{% csrf_token %}
    <label>
      Current password
      <input name="current_password" type="password" autocomplete="current-password">
    </label>

    <label>
      New password
      <input name="new_password" type="password" autocomplete="new-password">
    </label>

    <label>
      Confirm new password
      <input name="confirm_password" type="password" autocomplete="new-password">
    </label>

    <button type="submit">Change password</button>
  </form>
</section>
{% endblock %}