{% extends 'base.html' %}
{% block content %}
<section class="card">
  <h2>Tasks</h2>

  <table class="data-table analysis-table">
    <thead>
      <tr>
        <th class="task-name-column">Name</th>
        <th class="task-description-column">Description</th>
        <th class="task-actions-column">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td class="task-name-column">{{ task.name }}</td>
          <td class="task-description-column">{{ task.description }}</td>
          <td class="task-actions-column">
            <a class="button-like" href="{% url 'task_parameters' task.key %}">
              Set parameters
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}